


/* body {
    
} */

h1 {
    color: black;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

p {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal; 

}

.fa-cat {
    font-size:x-large;
}

